@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes throwUp {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    50% {
        transform: translateY(-150px) rotate(180deg);
        opacity: 0.5;
    }

    100% {
        transform: translateY(-300px) rotate(360deg);
        opacity: 0;
    }
}

.animate-throw-up {
    animation: throwUp 0.5s ease-in forwards;
}

.fade-in {
    animation: fadeIn 2s ease-in backwards;
}